<!DOCTYPE html>
<html>
    <script src="/header.js"></script>
    <script src="/Templates/projectPage.js" data-project=""></script>

    <head>
        <meta charset="UTF-8">
        <title>Oliver Beebe</title>
        <link rel="icon" type="image/x-icon" href="/Brevillo.gif">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Figtree">
    </head>
    <body>
        <div id="header"></div>
        <div class="project-title">testing</div>
    </body>
</html>