<!doctype html>
<html>
    <div class="project-grid-entry">
        <img class="background" onerror="this.style.display='none'" hre="">
        <div class="hover-info">
            <div class="roles"></div>
            <div class="fun-facts"></div>
            <div class="stats">
                <div class="names"></div>
                <div class="values"></div>
            </div>
            <div id="game-embed" class="steam-embed"></div>
            <div id="demo-embed" class="steam-embed"></div>
            <a id="learn-more" class="button fill" href="">Learn More</a>
        </div>
        <a class="logo">
            <img onerror="this.style.display='none'">
        </a>
    </div>
</html>